<%- include('../includes/head.ejs') %>
<body>

    <%- include('../includes/navigation.ejs') %>

    <section class="feature">
        <div class="container form1">
            <div class="row">

                <form action="/admin/add-product" method="POST">
                    <div class="form-group">
                        <h3><label>Add Products </label></h3>
                        <input type="text" class="form-control" name="title" placeholder="Product Name">
                    </div>
                    <div class="form-group">
                        <h3><label>Image Url </label></h3>
                        <input type="text" class="form-control" name="imageUrl" placeholder="Image Url">
                    </div>
                    <div class="form-group">
                        <h3><label> Price </label></h3>
                        <input type="text" class="form-control" name="price" placeholder="Enter price">
                    </div>
                    <div class="form-group">
                        <h3><label>Description </label></h3>
                        <textarea class="form-control" type="number" step="0.01" name="description" id="description" rows="4" placeholder="Description"></textarea>
                    </div>


                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </section>

   
<%- include('../includes/end.ejs') %>