
    <nav class="navbar navbar-expand-md navHead navItem navbar-dark bg-dark">
        <div>
            <a class="navbar-brand " href="/">
                Gravity Store
            </a>
        </div>
        <!-- Navbar Collapse -->
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end navItem " id="navbarToggle">
            <ul class="navbar-nav ml-lg-auto">
              
                <li class="nav-item">
                    <a class="nav-link smoothScroll" style="color: rgb(255, 255, 255);" href="/">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoothScroll" style="color: #fafeff;" href="/products">Products</a>
                </li>
                <% if(isAuthenticated) { %>
                <li class="nav-item">
                    <a class="nav-link smoothScroll" style="color: #fafeff;" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoothScroll" style="color: #fafeff;" href="/orders">Your Orders</a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link smoothScroll" style="color: #fafeff;" href="/admin/add-product">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoothScroll" style="color: #fafeff;" href="/admin/products">Admin Product</a>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="POST">
                        <button class="btn" type="submit">Logout</button>
                    </form>
                </li>
                <% } else {%>
                <li class="nav-item">
                    <a class="nav-link smoothScroll" style="color: #fafeff;" href="/login">Login</a>
                </li> 
                <% } %>
            </ul>
           
        </div>
    </nav>
