<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/product.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <title>Add Product</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navHead navItem navbar-dark bg-dark" >
        <div >
            <a class="navbar-brand " href="/">
             Gravity Store
           </a>
         </div>
         <!-- Navbar Collapse -->
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end navItem " id="navbarToggle">
    <ul class="navbar-nav ml-lg-auto" >
        <li class="nav-item" >
         <a class="nav-link smoothScroll" style="color: rgb(255, 255, 255);" href="/">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link smoothScroll" style="color: #fafeff;" href="/admin/add-product">Add Product</a>
          </li>
    </ul>
</div>
    </nav>
    <section class="feature">
            <div class="container form1">
        <div class="row">
            
            <form>
                <div class="form-group">
                  <h3><label >Add Products </label></h3>
                  <input type="text" class="form-control" id="productid" placeholder="Enter product">
                </div>
                
               
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
        </div>
    </div>
</section>

    <!-- <main>
        <h1>Add Products!</h1>
        <form action="/admin/add-product" method="POST">
        <input type="text" placeholder="Product" name="item">
        <button type="submit" > ADD</button>
        </form>
    </main> -->
    
</body>
</html>