<%- include('./includes/head.ejs') %>
<body>

    <%- include('./includes/navigation.ejs') %>
   
    
  <% if(product.length>0) {%>
    <div class="container">
        <div class="row">
            <div>
                <h1>My Products!</h1>
                <p>List of all the available products.</p>
            </div>
           

        </div>

    </div>
   
        <div class="grid" >
            <% for (let x of product) { %>
            <article class="card product-item" >
                <header class="card__header">
                    <h1 class="product__title"><b><%= x.title %></b></h1>
                </header>
                <div class="card__image">
                    <img src="https://userpic.codeforces.com/937549/title/931c2db7b2b5c529.jpg" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$19.99</h2>
                    <p class="product__description">A very interesting book about so many even more interesting things!</p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
           
            <%} %>
        </div>
       
    <% } else {%>
       
        <h1>Sorry ...No products Available!</h1>
        <% }%>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>